@font-face 
    font-family: "inter"
    src: url(../fonts/InterBold.woff2) format("woff2")
    font-weight: 700
    font-style: normal
    font-display: swap

@font-face 
    font-family: "inter"
    src: url(../fonts/InterSemiBold.woff2) format("woff2")
    font-weight: 600
    font-style: normal
    font-display: swap


@font-face 
    font-family: "inter"
    src: url(../fonts/InterRegular.woff2) format("woff2")
    font-weight: 400
    font-style: normal
    font-display: swap

.info
    font-family: "inter"

.title
    font-family: "inter"
    text-align: center
    width: 100% 
    font-size: clamp(60px,5.28vw,86px)
    font-weight: 700 
.title-small
    font-weight: 700
    font-size: 3.4vw
    font-weight: 710
.subtitle
    font-size: 2.0vw
    white-space: nowrap
.section-text
    font-size: clamp(18px,1.30vw,45px)

@media (max-width: 1024px)
    .title-small
        font-size: clamp(35px,6.70vw,68px)
    .subtitle
        font-size: clamp(20px,3.92vw,40px)
    .section-text
        font-size: clamp(16px,2.44vw,25px)
    


@media (max-width: 520px)
    .title-small
        width: 100%
        text-align: center
        font-size: clamp(25px,6.23vw,53px)
    .subtitle
        width: 100%
        text-align: center
        font-size: clamp(14px,3.8vw,30px)
    .section-text
        text-align: center
        font-size: clamp(13px,1.75vw,18px)


        
