/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html, *, body {
  box-sizing: border-box;
  font-family: inner;
  scrollbar-width: none;
  user-select: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  background: #0E0E0E;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05vw;
  background: #ffffff;
  color: #000000;
  width: 11.25em;
  height: 4.25em;
  border-radius: 1.25em;
}

@font-face {
  font-family: "inter";
  src: url(../fonts/InterBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter";
  src: url(../fonts/InterRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.info {
  font-family: "inter";
}

.title-small {
  font-weight: 700;
  font-size: 3.4vw;
  font-weight: 710;
}

.subtitle {
  font-size: 2vw;
  white-space: nowrap;
}

.section-text {
  font-size: clamp(16px, 1.3vw, 22px);
}

.header__logo {
  position: relative;
}

.header__logo::after {
  content: "";
  position: absolute;
  left: 145px;
  top: -15px;
  background: url(../icons/header__figure.svg) 100%/100% no-repeat;
  width: 60px;
  height: 47px;
}

.header__menu {
  position: relative;
}

.header__menu::before {
  content: "";
  position: absolute;
  background: url(../icons/header__line.svg) no-repeat;
  width: 285px;
  height: 80px;
  top: -40px;
  right: 625px;
}

.info__left-wrapper {
  position: relative;
}

.info__left-wrapper::before {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 22%;
  top: 80%;
  width: clamp(45px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.info__left-wrapper::after {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 7%;
  top: 24%;
  width: clamp(45px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.info__button {
  position: relative;
}

.info__button::before {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  left: 28vw;
  top: 20vh;
  width: clamp(45px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.info__button::after {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 45%;
  top: 400%;
  width: clamp(45px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.info__figure {
  position: absolute;
  left: 48vw;
  top: 90vh;
  width: clamp(45px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.header {
  font-family: "inter";
  font-size: clamp(16px, 1.6vw, 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px 0px 85px;
  max-height: 100px;
}
.header__logo {
  top: -10px;
}
.header__menu-list {
  display: flex;
  column-gap: 37px;
  font-weight: 700;
  white-space: nowrap;
}

.header__menu-item.is-current {
  position: relative;
}

.header__menu-item.is-current::after {
  display: inline-block;
  position: absolute;
  content: "";
  aspect-ratio: 1;
  width: 7px;
  background-color: white;
  border-radius: 50%;
  left: 110%;
  top: 45%;
}

.header__menu-item a {
  display: inline-flex;
  align-items: center;
  height: 90px;
  transition: 0.3s;
}
.header__menu-item a:hover {
  color: #BABABA;
}

@media (max-width: 1280px) {
  .header__menu::before {
    right: 1000%;
  }
}
@media (max-width: 1024px) {
  .header {
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 25px 55px 0px 55px;
  }
  .header__logo {
    top: 0px;
  }
  .header__menu {
    flex-basis: 100%;
  }
  .header__menu-list {
    font-size: 18px;
    column-gap: 25px;
  }
  .header__menu::before {
    right: -50px;
    top: -120px;
  }
  .header__logo::after {
    top: -25px;
  }
  .header__menu-item a {
    height: fit-content;
  }
}
@media (max-width: 767px) {
  .header {
    row-gap: 25px;
    padding: 25px 25px 0px 25px;
  }
  .header__menu-item {
    font-size: clamp(12px, 2.1vw, 16px);
  }
  .header__menu-item.is-current::after {
    top: 22%;
  }
}
@media (max-width: 520px) {
  .header {
    padding: 10px 5px 0px 15px;
    row-gap: 30px;
  }
  .header__logo {
    top: 10px;
  }
  .header__menu-list {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .header__menu-item {
    font-size: 12px;
  }
  .header__logo::after {
    left: 60vw;
  }
  .header__menu::before {
    display: none;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  box-sizing: content-box;
}
.info__left-wrapper {
  max-width: 67.29vw;
  padding-left: 5.1vw;
  height: fit-content;
}
.info__title {
  margin-bottom: 5px;
}
.info__subtitle {
  margin-bottom: 5px;
}
.info__text {
  max-width: 59%;
  margin-bottom: 0.85em;
}
.info__img {
  max-width: 40%;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
