/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html, *, body {
  font-family: "inter";
  box-sizing: border-box;
  font-family: inner;
  scrollbar-width: none;
  user-select: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.container {
  margin: 0 auto;
  width: 68vw;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 1.05vw, 20px);
  background: #ffffff;
  color: #000000;
  width: 11.25em;
  height: 4.25em;
  border-radius: 1.25em;
  transition: 0.25s;
}

.button:hover {
  opacity: 0.8;
  color: rgb(0, 0, 0);
}

a, img, input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

a:focus, img:focus, input:focus {
  outline: none;
  box-shadow: none;
}

.technology__container {
  width: 1350px;
}

@media (max-width: 1450px) {
  .technology__container {
    width: 1280px;
  }
}
@media (max-width: 1280px) {
  .technology__container {
    width: 1024px;
  }
}
@media (max-width: 1024px) {
  .technology__container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .technology__container {
    width: 100%;
  }
}
@font-face {
  font-family: "inter";
  src: url(../fonts/InterBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter";
  src: url(../fonts/InterSemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter";
  src: url(../fonts/InterRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.info {
  font-family: "inter";
}

.title {
  font-family: "inter";
  text-align: center;
  width: 100%;
  font-size: clamp(60px, 5.28vw, 96px);
  font-weight: 700;
}

.title-small {
  font-family: "inter";
  font-weight: 700;
  font-size: 3.4vw;
  font-weight: 710;
}

.subtitle {
  font-size: 2vw;
  white-space: nowrap;
}

.section-text {
  font-size: clamp(18px, 1.3vw, 45px);
}

@media (max-width: 1024px) {
  .title {
    font-size: clamp(50px, 6.25vw, 65px);
  }
  .title-small {
    font-size: clamp(35px, 6.7vw, 68px);
  }
  .subtitle {
    font-size: clamp(20px, 3.92vw, 40px);
  }
  .section-text {
    font-size: clamp(16px, 2.44vw, 25px);
  }
}
@media (max-width: 768px) {
  .title {
    font-size: clamp(55px, 6.25vw, 65px);
  }
}
@media (max-width: 520px) {
  .title {
    font-size: 35px;
  }
  .title-small {
    width: 100%;
    text-align: center;
    font-size: clamp(25px, 6.23vw, 53px);
  }
  .subtitle {
    width: 100%;
    text-align: center;
    font-size: clamp(14px, 3.8vw, 30px);
  }
  .section-text {
    text-align: center;
    font-size: clamp(13px, 1.75vw, 18px);
  }
}
.header__logo {
  position: relative;
}

.header__logo::after {
  content: "";
  position: absolute;
  left: 145px;
  top: -15px;
  background: url(../icons/header__figure.svg) 100%/100% no-repeat;
  width: 60px;
  height: 47px;
  pointer-events: none;
}

.header__menu {
  position: relative;
}

.header__menu::before {
  content: "";
  position: absolute;
  background: url(../icons/header__line.svg) no-repeat;
  width: 285px;
  height: 80px;
  top: -40px;
  right: 626px;
}

.info__left-wrapper {
  position: relative;
}

.info__left-wrapper::before {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 22%;
  top: 80%;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.info__left-wrapper::after {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 7%;
  top: 24%;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.info__button {
  position: relative;
}

.info__button::before {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  left: 28vw;
  top: 20vh;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
  pointer-events: none;
}

.info__button::after {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 45%;
  top: 400%;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
  pointer-events: none;
}

.info__figure {
  position: absolute;
  left: 48vw;
  top: 90vh;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
}

@media (max-width: 1280px) {
  .info__left-wrapper::after {
    display: none;
  }
}
@media (max-width: 1024px) {
  .info__left-wrapper::before, .info__left-wrapper::after, .info__button::before, .info__button::after, .info__figure {
    display: none;
  }
}
.header {
  font-family: "inter";
  font-size: clamp(18px, 1.05vw, 27px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px 0px 85px;
  max-height: 200px;
  background: #0E0E0E;
}
.header__logo {
  top: -10px;
}
.header__menu-list {
  display: flex;
  column-gap: 37px;
  font-weight: 700;
  white-space: nowrap;
}

.header__menu-item.is-current {
  position: relative;
}

.header__menu-item.is-current::after {
  display: inline-block;
  position: absolute;
  content: "";
  aspect-ratio: 1;
  width: 7px;
  background-color: white;
  border-radius: 50%;
  left: 110%;
  top: 45%;
}

.header__menu-item a {
  display: inline-flex;
  align-items: center;
  height: 90px;
  transition: 0.3s;
}
.header__menu-item a:hover {
  color: #BABABA;
}

@media (max-width: 1280px) {
  .header {
    padding: 25px 25px 0px 3.1vw;
  }
  .header__menu::before {
    right: 1000%;
  }
}
@media (max-width: 1024px) {
  .header {
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 25px 0px 0px 15px;
  }
  .header__logo {
    top: 0px;
  }
  .header__menu {
    flex-basis: 100%;
  }
  .header__menu-list {
    font-size: 18px;
    column-gap: 25px;
  }
  .header__menu::before {
    right: 0px;
    top: -120px;
  }
  .header__logo::after {
    top: -25px;
  }
  .header__menu-item a {
    height: fit-content;
  }
}
@media (max-width: 767px) {
  .header {
    row-gap: 25px;
    padding: 25px 25px 0px 25px;
  }
  .header__menu-item {
    font-size: clamp(12px, 2.1vw, 16px);
  }
  .header__menu-item.is-current::after {
    top: 22%;
  }
}
@media (max-width: 520px) {
  .header {
    padding: 10px 5px 0px 6vw;
    row-gap: 30px;
  }
  .header__logo {
    top: 10px;
  }
  .header__menu-list {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .header__menu-item {
    font-size: 14px;
  }
  .header__logo::after {
    left: 60vw;
  }
  .header__menu::before {
    display: none;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  box-sizing: content-box;
  background: #0E0E0E;
}
.info__left-wrapper {
  max-width: 67.29vw;
  padding-left: 5.1vw;
  height: fit-content;
}
.info__title {
  margin-bottom: 0.1em;
}
.info__subtitle {
  margin-bottom: 0.2em;
}
.info__text {
  max-width: 59%;
  margin-bottom: 1em;
}
.info__img {
  max-width: 40%;
  height: 100vh;
  mask-image: radial-gradient(circle, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1280px) {
  .info {
    padding-top: 80px;
  }
  .info__left-wrapper {
    padding-left: 3.1vw;
    max-width: fit-content;
  }
  .info__img {
    z-index: 3;
  }
  .info__figure {
    top: 40vh;
  }
}
@media (max-width: 1024px) {
  .info {
    flex-direction: column-reverse;
    align-items: center;
  }
  .info__left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    max-width: 100%;
    padding-bottom: 100px;
  }
  .info__title {
    width: 100%;
    text-align: center;
    margin-bottom: 0.3em;
  }
  .info__subtitle {
    width: 100%;
    text-align: center;
    margin-bottom: 0.7em;
  }
  .info__text {
    max-width: 85%;
    text-align: center;
    display: none;
  }
  .info__img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .info__button {
    font-size: clamp(12px, 1.57vw, 20px);
  }
}
@media (max-width: 520px) {
  .info {
    padding-top: 70px;
  }
  .info__title {
    margin-bottom: 0.5em;
  }
  .info__subtitle {
    margin-bottom: 0.7em;
  }
  .info__text {
    max-width: 85%;
    margin-bottom: 1.5em;
  }
  .info__img {
    margin-bottom: 60px;
  }
  .info__button {
    font-size: 12px;
    width: 10em;
    height: 3.5em;
    margin-top: 10px;
  }
}
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #121212;
  max-height: 550px;
}
.skills__title {
  margin-bottom: 0.55em;
}
.skills__figure {
  width: 12.55vw;
  height: 27vw;
  align-self: center;
}
.skills__figure-2 {
  justify-self: end;
}
.skills__wrapper {
  padding-left: 4%;
  display: flex;
  justify-content: center;
  gap: 15%;
  width: 100%;
}
.skills__wrapper-title {
  font-family: "inter";
  font-weight: normal;
  margin-bottom: 0.3em;
  font-size: clamp(28px, 2.21vw, 36px);
  text-align: center;
  border: 1px solid #ffffff;
  padding: 0.3em 0.6em;
}
.skills__wrapper-line {
  height: clamp(200px, 30vh, 252px);
  width: 2px;
}
.skills__wrapper-text {
  line-height: 1.25;
  font-family: "inter";
  text-align: center;
  font-size: clamp(22px, 1.3vw, 24px);
}

@media (max-width: 1280px) {
  .skills {
    padding-block: 100px;
  }
  .skills__wrapper {
    gap: 100px;
  }
}
@media (max-width: 1024px) {
  .skills__figure {
    width: 10vw;
    height: 213px;
  }
}
@media (max-width: 768px) {
  .skills {
    grid-template-columns: 1fr;
  }
  .skills__figure {
    height: auto;
    display: none;
  }
  .skills__title {
    font-size: 50px;
  }
  .skills__wrapper-title {
    font-size: 22px;
  }
  .skills__wrapper-text {
    font-size: 16px;
  }
}
@media (max-width: 520px) {
  .skills {
    padding-top: 70px;
    border-top: 0.1px solid #4b5350;
  }
  .skills__title {
    margin-bottom: 0.85em;
  }
  .skills__wrapper {
    gap: 40px;
  }
  .skills__wrapper-line {
    height: 180px;
  }
}
.technology {
  padding: 200px 0px 400px;
  background: #0E0E0E;
  background-display: flex;
  background-flex-direction: column;
  background-align-items: flex-end;
}
.technology__title {
  padding-left: 0.9em;
  margin-bottom: 200px;
  line-height: 1.25;
}
.technology__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.technology__item-icon {
  width: 140px;
  height: 170px;
}
.technology__item-dash {
  background: #D9D9D9;
  width: 90px;
  height: 4px;
}
.technology__item-text {
  width: 20em;
  font-family: "inter";
  font-size: 40px;
  line-height: 1.25;
}

.technology__item:not(:last-child) {
  margin-bottom: 200px;
}

@media (max-width: 1450px) {
  .technology-text {
    font-size: clamp(20px, 2.36vw, 34px);
  }
  .technology-dash {
    width: clamp(60px, 5.85vw, 75px);
  }
}
@media (max-width: 1280px) {
  .technology {
    padding-bottom: 300px;
  }
  .technology__title {
    padding-left: 0px;
    margin-bottom: 130px;
  }
  .technology__item {
    justify-content: space-evenly;
  }
  .technology__item-text {
    font-size: clamp(20px, 2.22vw, 34px);
  }
  .technology__item-icon {
    width: clamp(70px, 7.5vw, 110px);
    height: clamp(120px, 11.05vw, 160px);
    margin: 0;
  }
  .technology__item-dash {
    margin: 0;
    width: 65px;
  }
}
@media (max-width: 1024px) {
  .technology {
    padding-bottom: 250px;
  }
  .technology__item-dash {
    width: clamp(42px, 5.4vw, 55px);
  }
  .technology__item:not(:last-child) {
    margin-bottom: 150px;
  }
}
@media (max-width: 768px) {
  .technology__item {
    row-gap: 20px;
    flex-direction: column;
  }
  .technology__item-dash {
    display: none;
  }
  .technology__item-text {
    text-align: center;
    font-size: 27px;
  }
  .technology__item-icon {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 520px) {
  .technology__item-text {
    text-align: center;
    font-size: 18px;
  }
  .technology__item-icon {
    width: 90px;
    height: 90px;
  }
  .technology__item:not(:last-child) {
    margin-bottom: 120px;
  }
}
.price {
  display: block;
  padding-top: 106px;
  padding-bottom: 350px;
  border-top: 1px solid #4D4D4D;
  background: #0E0E0E;
}
.price__title {
  font-weight: 400;
  padding-bottom: 50px;
}
.price__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 6.785vw;
  padding-bottom: 80px;
}
.price__contact {
  margin-bottom: 0.67em;
}
.price__arrow {
  position: relative;
  left: 31vw;
  height: 14vw;
}

.price__item {
  border: 1px solid #FFFFFF;
}
.price__item-title {
  padding-left: 1.83em;
  padding-top: 18px;
  margin-bottom: 0.23em;
  font-family: "inter";
  font-size: clamp(24px, 1.83vw, 46px);
  font-weight: 700;
}
.price__item-text {
  font-family: "inter";
  line-height: 1.5;
  font-size: clamp(17px, 1.25vw, 32px);
  padding-left: 2.75em;
  margin-bottom: 0.83em;
}
.price__item-dash {
  width: 100%;
  border: 1px solid #FFFFFF;
}
.price__item-desc {
  font-size: clamp(18px, 1.25vw, 32px);
  padding-top: 0.2em;
  padding: 0.4em 1.2em;
}

@media (max-width: 1280px) {
  .price__title {
    font-size: clamp(40px, 3.9vw, 45px);
    padding-bottom: 30px;
  }
  .price__item-title {
    padding-left: 0.7em;
  }
  .price__item-text {
    padding-left: 1.25em;
    font-size: clamp(15px, 1.46vw, 17px);
  }
}
@media (max-width: 1024px) {
  .price__title {
    font-size: clamp(25px, 3.9vw, 35px);
    padding-bottom: 30px;
  }
  .price__contact {
    font-size: clamp(45px, 6vw, 55px);
  }
  .price__item-title {
    padding-top: 14px;
    padding-left: 0.4em;
    font-size: clamp(16px, 1.83vw, 22px);
  }
  .price__item-text {
    padding-left: 0.7em;
    font-size: clamp(11px, 1.46vw, 15px);
  }
  .price__item-desc {
    font-size: clamp(12px, 1.58vw, 16px);
  }
}
@media (max-width: 767px) {
  .price {
    padding-top: 80px;
  }
  .price__contact {
    font-size: clamp(36px, 7.8vw, 65px);
    margin-bottom: 2em;
  }
  .price__arrow {
    left: 45vw;
    height: 150px;
  }
  .price__container {
    width: 100%;
  }
  .price__title {
    font-size: clamp(33px, 7vw, 55px);
    padding-bottom: 50px;
    text-align: center;
  }
  .price__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price__item {
    border-radius: 10px;
    padding: 5px 20px;
    width: fit-content;
  }
  .price__item-title {
    padding-left: 0;
    font-size: clamp(16px, 4.5vw, 30px);
  }
  .price__item-text {
    padding-left: 0;
    font-size: clamp(12px, 4.5vw, 25px);
  }
  .price__item-desc {
    font-size: clamp(12px, 4.5vw, 25px);
    padding: 0.5em 0;
  }
}
@media (max-width: 520px) {
  .price {
    padding-bottom: 140px;
  }
  .price__arrow {
    height: 120px;
  }
  .price__item-title {
    padding-left: 0;
    font-size: 18px;
  }
  .price__item-text {
    padding-left: 0;
    font-size: 14px;
  }
  .price__item-desc {
    font-size: 14px;
    padding: 0.5em 0;
  }
}
.footer {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-around;
  background: #121212;
}
.footer__left-wrapper {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.footer__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 28px;
  font-size: 24px;
}
.footer__icon-box {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}
.footer__support {
  padding-left: 5%;
  font-size: 24px;
}
.footer__dash {
  width: 4px;
  height: 105px;
  background: #646464;
}

.footer__menu-item:last-child {
  flex-basis: 100%;
}

.footer__icon-img {
  width: 35px;
  height: 25px;
}

@media (max-width: 1024px) {
  .footer {
    justify-content: space-evenly;
  }
  .footer__left-wrapper {
    column-gap: 40px;
  }
  .footer__menu-list {
    width: 290px;
    column-gap: 18px;
  }
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer__menu-list {
    width: clamp(200px, 12em, 290px);
    font-size: clamp(16px, 3.12vw, 24px);
  }
  .footer__support {
    font-size: clamp(16px, 3.12vw, 24px);
    white-space: nowrap;
  }
  .footer__icon-img {
    width: 4.56vw;
    height: 3.25vw;
  }
  .footer__dash {
    width: 1px;
  }
}
@media (max-width: 520px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 0px;
  }
  .footer__logo {
    padding-left: 20px;
  }
  .footer__logo img {
    width: 110px;
  }
  .footer__left-wrapper {
    flex-direction: column;
  }
  .footer__dash {
    display: none;
  }
  .footer__menu-list {
    display: none;
  }
  .footer__icon-box {
    column-gap: 20px;
    margin-bottom: 15px;
  }
  .footer__icon-img {
    width: 22px;
    height: 22px;
  }
  .footer__support {
    padding-left: 0px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
