/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html, *, body {
  font-family: "inter";
  box-sizing: border-box;
  font-family: inner;
  scrollbar-width: none;
  user-select: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.container {
  margin: 0 auto;
  width: 68vw;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 1.05vw, 20px);
  background: #ffffff;
  color: #000000;
  width: 11.25em;
  height: 4.25em;
  border-radius: 1.25em;
  transition: 0.25s;
}

.button:hover {
  opacity: 0.8;
  color: rgb(0, 0, 0);
}

a, img, input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

a:focus, img:focus, input:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 1280px) {
  .container {
    width: 68vw;
  }
}
@font-face {
  font-family: "inter";
  src: url(../fonts/InterBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter";
  src: url(../fonts/InterSemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter";
  src: url(../fonts/InterRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.info {
  font-family: "inter";
}

.title {
  font-family: "inter";
  text-align: center;
  width: 100%;
  font-size: clamp(60px, 5.28vw, 86px);
  font-weight: 700;
}

.title-small {
  font-weight: 700;
  font-size: 3.4vw;
  font-weight: 710;
}

.subtitle {
  font-size: 2vw;
  white-space: nowrap;
}

.section-text {
  font-size: clamp(18px, 1.3vw, 45px);
}

@media (max-width: 1024px) {
  .title-small {
    font-size: clamp(35px, 6.7vw, 68px);
  }
  .subtitle {
    font-size: clamp(20px, 3.92vw, 40px);
  }
  .section-text {
    font-size: clamp(16px, 2.44vw, 25px);
  }
}
@media (max-width: 520px) {
  .title-small {
    width: 100%;
    text-align: center;
    font-size: clamp(25px, 6.23vw, 53px);
  }
  .subtitle {
    width: 100%;
    text-align: center;
    font-size: clamp(14px, 3.8vw, 30px);
  }
  .section-text {
    text-align: center;
    font-size: clamp(13px, 1.75vw, 18px);
  }
}
.header__logo {
  position: relative;
}

.header__logo::after {
  content: "";
  position: absolute;
  left: 145px;
  top: -15px;
  background: url(../icons/header__figure.svg) 100%/100% no-repeat;
  width: 60px;
  height: 47px;
  pointer-events: none;
}

.header__menu {
  position: relative;
}

.header__menu::before {
  content: "";
  position: absolute;
  background: url(../icons/header__line.svg) no-repeat;
  width: 285px;
  height: 80px;
  top: -40px;
  right: 626px;
}

.info__left-wrapper {
  position: relative;
}

.info__left-wrapper::before {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 22%;
  top: 80%;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.info__left-wrapper::after {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 7%;
  top: 24%;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
}

.info__button {
  position: relative;
}

.info__button::before {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  left: 28vw;
  top: 20vh;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
  pointer-events: none;
}

.info__button::after {
  content: "";
  background: url(../icons/info__figure.svg) 99%/100% no-repeat;
  position: absolute;
  right: 45%;
  top: 400%;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
  pointer-events: none;
}

.info__figure {
  position: absolute;
  left: 48vw;
  top: 90vh;
  width: clamp(60px, 3.9vw, 90px);
  aspect-ratio: 1;
}

@media (max-width: 1280px) {
  .info__left-wrapper::after {
    display: none;
  }
}
@media (max-width: 1024px) {
  .info__left-wrapper::before, .info__left-wrapper::after, .info__button::before, .info__button::after, .info__figure {
    display: none;
  }
}
.header {
  font-family: "inter";
  font-size: clamp(18px, 1.05vw, 27px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px 0px 85px;
  max-height: 200px;
  background: #0E0E0E;
}
.header__logo {
  top: -10px;
}
.header__menu-list {
  display: flex;
  column-gap: 37px;
  font-weight: 700;
  white-space: nowrap;
}

.header__menu-item.is-current {
  position: relative;
}

.header__menu-item.is-current::after {
  display: inline-block;
  position: absolute;
  content: "";
  aspect-ratio: 1;
  width: 7px;
  background-color: white;
  border-radius: 50%;
  left: 110%;
  top: 45%;
}

.header__menu-item a {
  display: inline-flex;
  align-items: center;
  height: 90px;
  transition: 0.3s;
}
.header__menu-item a:hover {
  color: #BABABA;
}

@media (max-width: 1280px) {
  .header {
    padding: 25px 25px 0px 3.1vw;
  }
  .header__menu::before {
    right: 1000%;
  }
}
@media (max-width: 1024px) {
  .header {
    row-gap: 20px;
    flex-wrap: wrap;
    padding: 25px 0px 0px 15px;
  }
  .header__logo {
    top: 0px;
  }
  .header__menu {
    flex-basis: 100%;
  }
  .header__menu-list {
    font-size: 18px;
    column-gap: 25px;
  }
  .header__menu::before {
    right: 0px;
    top: -120px;
  }
  .header__logo::after {
    top: -25px;
  }
  .header__menu-item a {
    height: fit-content;
  }
}
@media (max-width: 767px) {
  .header {
    row-gap: 25px;
    padding: 25px 25px 0px 25px;
  }
  .header__menu-item {
    font-size: clamp(12px, 2.1vw, 16px);
  }
  .header__menu-item.is-current::after {
    top: 22%;
  }
}
@media (max-width: 520px) {
  .header {
    padding: 10px 5px 0px 6vw;
    row-gap: 30px;
  }
  .header__logo {
    top: 10px;
  }
  .header__menu-list {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .header__menu-item {
    font-size: 14px;
  }
  .header__logo::after {
    left: 60vw;
  }
  .header__menu::before {
    display: none;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  box-sizing: content-box;
  background: #0E0E0E;
}
.info__left-wrapper {
  max-width: 67.29vw;
  padding-left: 5.1vw;
  height: fit-content;
}
.info__title {
  margin-bottom: 0.1em;
}
.info__subtitle {
  margin-bottom: 0.2em;
}
.info__text {
  max-width: 59%;
  margin-bottom: 1em;
}
.info__img {
  max-width: 40%;
  height: 100vh;
  mask-image: radial-gradient(circle, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1280px) {
  .info {
    padding-top: 80px;
  }
  .info__left-wrapper {
    padding-left: 3.1vw;
    max-width: fit-content;
  }
  .info__img {
    z-index: 3;
  }
  .info__figure {
    top: 40vh;
  }
}
@media (max-width: 1024px) {
  .info {
    flex-direction: column-reverse;
    align-items: center;
  }
  .info__left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    max-width: 100%;
    padding-bottom: 100px;
  }
  .info__title {
    width: 100%;
    text-align: center;
    margin-bottom: 0.3em;
  }
  .info__subtitle {
    width: 100%;
    text-align: center;
    margin-bottom: 0.3em;
  }
  .info__text {
    max-width: 85%;
    text-align: center;
  }
  .info__img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }
  .info__button {
    font-size: clamp(12px, 1.37vw, 20px);
  }
}
@media (max-width: 520px) {
  .info {
    padding-top: 70px;
  }
  .info__title {
    margin-bottom: 0.5em;
  }
  .info__subtitle {
    margin-bottom: 0.7em;
  }
  .info__text {
    max-width: 85%;
    margin-bottom: 1.5em;
  }
  .info__img {
    margin-bottom: 110px;
  }
  .info__button {
    font-size: 12px;
    width: 10.25em;
    height: 4em;
  }
}
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #121212;
  max-height: 550px;
}
.skills__title {
  margin-bottom: 0.55em;
}
.skills__figure {
  width: 12.55vw;
  height: 27vw;
  align-self: center;
}
.skills__figure-2 {
  justify-self: end;
}
.skills__wrapper {
  padding-left: 4%;
  display: flex;
  justify-content: center;
  gap: 15%;
  width: 100%;
}
.skills__wrapper-title {
  font-family: "inter";
  font-weight: normal;
  margin-bottom: 0.3em;
  font-size: clamp(28px, 2.21vw, 36px);
  text-align: center;
  border: 1px solid #ffffff;
  padding: 0.3em 0.6em;
}
.skills__wrapper-line {
  height: clamp(200px, 30vh, 252px);
  width: 2px;
}
.skills__wrapper-text {
  line-height: 1.25;
  font-family: "inter";
  text-align: center;
  font-size: clamp(22px, 1.3vw, 24px);
}

@media (max-width: 1280px) {
  .skills {
    padding-block: 100px;
  }
  .skills__wrapper {
    gap: 100px;
  }
}
@media (max-width: 1024px) {
  .skills__figure {
    width: 10vw;
    height: 213px;
  }
}
@media (max-width: 768px) {
  .skills {
    grid-template-columns: 1fr;
  }
  .skills__figure {
    height: auto;
    display: none;
  }
  .skills__title {
    font-size: 50px;
  }
  .skills__wrapper-title {
    font-size: 22px;
  }
  .skills__wrapper-text {
    font-size: 16px;
  }
}
@media (max-width: 520px) {
  .skills {
    padding-top: 70px;
    border-top: 0.1px solid #4b5350;
  }
  .skills__title {
    margin-bottom: 0.85em;
  }
  .skills__wrapper {
    gap: 40px;
  }
  .skills__wrapper-line {
    height: 180px;
  }
}

/*# sourceMappingURL=style.css.map */
